/* Todos os Estilos */

/* Estilo do ChatInput */
footer {
  color: white;
  position: fixed;
  padding: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20vh;
}

footer .input-field input,
button {
  border-color: #FFFFFF;
}

.footer-color {
  background-color: #7cabbf;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #f06292;
}

.input-field .prefix.active {
  color: #f06292
}

.chip {
  font-style: italic;
}

/* Estilo do ChatHistory */
.collection {
  margin: 0 0 130px 0;
  overflow-y: scroll;
  height: 80vh;
}

.message-date {
  color: #585858;
}

body {
  background: #EEEEEE;
  overflow: hidden;
}
